{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<main class="mypage">
    <div class="mypage-wrap">
        <div class="mypage-container">
            <ul class="mypage-tab">
                <li class="mypage-profile">
                    {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="" class="profile-picture">
                    {% else %}
                    <img src="{% static "images/person-circle.svg" %}" alt="" class="profile-picture">
                    {% endif %}
                    <p class="tab-username">{{ user.username }}</p>
                </li>
                <li><a href="{% url 'accounts:user' %}" class="">{% trans "マイページTOP" %}</a></li>
                <li><a href="{% url 'accounts:update' %}" class="">{% trans "プロフィール編集" %}</a></li>
                <li><a href="{% url 'accounts:password_change' %}" class="mypage-tab-current">{% trans "パスワードの変更" %}</a></li>
                <li><a href="{% url 'accounts:my_property' %}" class="">{% trans "契約物件情報" %}</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="">{% trans "ログアウト" %}</a></li>
            </ul>
			<div class="contents">
				<div id="tab3" class="mypage-contents">
					<h2 class="heading">{% trans "パスワードの変更" %}</h2>
					<div class="mypage-profile-form">
						<form action="" method="POST" novalidate>
							{% csrf_token %}
							{{ form.non_field_errors }}
							{% for field in form %}
							<div class="mypage-nav">
								<label for="{{ field.id_for_label }}" class="mypage-nav-name">{{ field.label_tag }}</label>
								{{ field }}
								<p class="mypage-errors">{{ field.errors }}</p>
							</div>
							{% endfor %}
							<div class="example">
								<input type="submit" value="{% trans "変更" %}" class="mypage-button">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}