{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<main class="mypage">
    <div class="mypage-wrap">
        <div class="mypage-container">
            <ul class="mypage-tab">
                <li class="mypage-profile">
                    {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="" class="profile-picture">
                    {% else %}
                    <img src="{% static "images/person-circle.svg" %}" alt="" class="profile-picture">
                    {% endif %}
                    <p class="tab-username">{{ user.username }}</p>
                </li>
                <li><a href="{% url 'accounts:user' %}" class="">{% trans "マイページTOP" %}</a></li>
                <li><a href="{% url 'accounts:update' %}" class="mypage-tab-current">{% trans "プロフィール編集" %}</a></li>
                <li><a href="{% url 'accounts:password_change' %}" class="">{% trans "パスワードの変更" %}</a></li>
                <li><a href="{% url 'accounts:my_property' %}" class="">{% trans "契約物件情報" %}</a></li>
                <li><a href="{% url 'accounts:logout' %}" class="">{% trans "ログアウト" %}</a></li>
            </ul>
            <div class="contents">
                <div class="mypage-contents">
                    <h2 class="heading">{% trans "プロフィール編集" %}</h2>
                    <div class="mypage-profile-form">
                        <form method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <div class="mypage-nav">
                                <label for="{{ form.username.id_for_label }}" class="mypage-nav-name">{% trans "ニックネーム" %}&nbsp;<span class="required">※{% trans "必須" %}</span></label>
                                {{ form.username }}
                                {% for error in form.username.errors %}
                                    <p class="form-text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="mypage-nav">
                                <label for="{{ form.email.id_for_label }}" class="mypage-nav-name">{% trans "メールアドレス" %}&nbsp;<span class="required">{% trans "必須" %}</span></label>
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <p class="form-text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            
                            <div class="mypage-nav">
                                <label class="mypage-label mypage-nav-name" for="{{ form.sex.id_for_label }}">{% trans "性別" %}</label>
                                <div class="mypage-gender-radio">
                                    {{ form.sex }}
                                </div>
                            </div>
                        
                            <div class="mypage-nav">
                                <label for="{{ form.birthday.id_for_label }}" class="mypage-nav-name">{% trans "生年月日" %}</label>
                                {{ form.birthday }}
                            </div>
                        
                            <div class="mypage-nav">
                            <label for="{{ form.nationality.id_for_label }}" class="mypage-nav-name" class="mypage-nav-name">{% trans "国籍" %}</label>
                            {{ form.nationality }}
                            </div>
                        
                            <div class="mypage-nav">
                            <label for="{{ form.self_introduction.id_for_label }}" class="mypage-nav-name" class="mypage-nav-name">{% trans "自己紹介" %}</label>
                            {{ form.self_introduction }}
                            </div>
                        
                            <div class="mypage-nav">
                            <label for="{{ form.job.id_for_label }}" class="mypage-nav-name">{% trans "職業" %}</label>
                            {{ form.job }}
                            </div>
                        
                            <div class="mypage-nav">
                            <label for="{{ form.profile_picture.id_for_label }}" class="mypage-nav-name">{% trans "プロフィール写真" %}</label>
                            {{ form.profile_picture }}
                            </div>
                        
                            <div class="example">
                                <input type="submit" value="{% trans "更新" %}" class="mypage-button">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}